body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: auto;
}

.container {
    flex: 1;
    display: flex;
    width: 100%;
    margin-top: 10px; /* Adjusted for topbar */
    overflow: auto;
}

.topbar {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile, .logout {
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.nav-menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-menu ul li a, .user-profile a, .logout a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.user-profile:hover, .logout:hover, .nav-menu ul li a:hover {
    background-color: #007bff;
    color: #fff;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.main-content {
    flex: 3; /* Adjusted for balanced layout */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Space between content and sidebar */
}

.notifications-sidebar {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.courses-list a.course-item, .notifications-list li {
    background-color: #e9f5ff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    display: block;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.courses-list a.course-item:hover {
    background-color: #d1e4ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-top: 0;
    }

    .topbar {
        flex-direction: column;
        align-items: center;
    }

    .user-profile, .logout {
        margin: 5px 0;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .main-content, .notifications-sidebar {
        width: 100%;
        margin: 5px 0;
        padding: 10px; /* Reduced padding for mobile */
    }

    /* Adjust flex-direction for smaller screens to stack content */
    .container {
        flex-direction: column-reverse;
    }
}
