/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
}

.course-item {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.course-item h3 {
    color: #333;
    margin-bottom: 10px;
}

.course-item p {
    margin-bottom: 10px;
    color: #666;
}

button {
    background-color: #00aff0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}


.admin-btn {
    display: inline-block;
    background-color: #00aff0; /* Updated button color to match  new theme */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    text-decoration:none;
    margin:1em 0 1em 0 ;
}
button:hover {
    background-color: #008cd0;
}

/* Specific styles for different buttons if needed */
.delete-btn {
    background-color: #ff6347; /* Tomato */
}

.delete-btn:hover {
    background-color: #e55a45;
}

.edit-btn {
    background-color: #ffa500; /* Orange */
}

.edit-btn:hover {
    background-color: #e59400;
}
